<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Dynamic Animation</title>
    <style>
        .box {
            transition: opacity 0.15s;
            width: 300px;
            height: 100px;
            background-color: skyblue;
            margin-bottom: 10px;
            opacity: 1;
        }

        .wide {
            width: 500px;
        }

        .hidden {
            opacity: 0;
        }
    </style>
</head>
<body>
    <div id="app">
        <div v-for="(box, index) in boxes" :key="index" :class="['box', { wide: box.isWide, hidden: box.isHidden }]" @transitionend="afterTransition(index)">
        </div>
        <button v-for="(box, index) in boxes" :key="index" @click="toggleWidth(index)">Toggle Width {{ index + 1 }}</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                boxes: [
                    { isWide: false, isHidden: false },
                    { isWide: false, isHidden: false },
                    { isWide: false, isHidden: false },
                    { isWide: false, isHidden: false },
                    { isWide: false, isHidden: false }
                ]
            },
            methods: {
                toggleWidth(index) {
                    this.$set(this.boxes, index, { ...this.boxes[index], isHidden: true });
                },
                afterTransition(index) {
                    if (this.boxes[index].isHidden) {
                        this.$set(this.boxes, index, { ...this.boxes[index], isWide: !this.boxes[index].isWide, isHidden: false });
                    }
                }
            }
        });
    </script>
</body>
</html>
